{% extends "::base.html.twig" %}
{% block body %}
         <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About</h1>
                    <div class="alert alert-success alert-dismissable">
                        The Victorian Digital Careers is an initiative supported by the Victorian Government, in cooperation
						with the National Digital Careers program. The aim of both these initiatives is to promote ICT
						enabled careers in Australia, through an increase awareness of what careers are actually available
						and the promotion of education and training pathways. A success factor will be increased
						enrolments in 'Digital Career' courses across both the higher education and vocational training &
						education sectors; ultimately leading to a growth in Australia's prosperity through 'Digital'
						enablement across all industry sectors, not just the ICT industry.
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
