{% extends "::base.html.twig" %}
{% block body %}
         <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Home</h1>
                    <div class="alert alert-success alert-dismissable">
                        The Victorian Digital Careers Engagement site is an initiative supported by the Victorian Government 
                        which aims to promote ICT enabled careers in Australia. It focuses on reducing the critical shortage of 
						capable Australian ICT professionals by providing students with an increased awareness of what careers 
						are actually available and promoting education and training pathways. However, this project will not 
						only cater to students in ICT but also teachers, career advisors, teachers, industry and Government who 
						in one way or another can influence young people into entering this field. The main stakeholders involve 
						in the development of this initiative are Coles, Box Hill TAFE and La Trobe University.
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
